<!DOCTYPE html>
<html>
<head>
  <title>BootstrapFileInput</title>
  <%= stylesheet_link_tag    "bootstrap-file-input/application", :media => "all" %>
  <%= javascript_include_tag "bootstrap-file-input/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
